.site-articles-container {
  overflow: hidden;

  .section-header-container {

    .section-header {

      h1 {
        color: #1F2553;
        text-transform: uppercase;
      }
    }
  }

  .site-articles-list-container {

    .site-article-container {

      .site-article-title {

        h3 {
          color: #1F2553;
          text-transform: uppercase;
        }

      }

      .site-article-embed-container {
        border-color: #1F2553;
        border-style: solid;
        border-width: 1px;

        .site-article-embed-image {

        }

        .site-article-embed-title {

          h4 {
            color: rgba(116, 116, 116, 1);
            font-weight: 600;
            line-height: 1;
          }

          a, a:active, a:visited, a:hover {
            color: rgba(116, 116, 116, 1);
          }

          a:hover {
            text-decoration: underline;
          }
        }

        .site-article-embed-synopsis {

          p {
            text-align: justify;
            color: rgba(116, 116, 116, 1);
            font-weight: normal;
          }

        }
      }

      .site-article-body {

      }
    }
  }

  .site-articles-titles-list-container {
    display: none;

    .site-articles-titles-list-header {

      h2 {
        font-size: 1.4rem;
        letter-spacing: 0.10rem;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    .site-article-title {

      h3 {
        color: #1F2553;
        font-size: 1rem;
        font-weight: 600;
      }

      a, a:active, a:visited, a:hover {
        color: #1F2553;;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
