
<footer class="site-footer">
  <div class="container">
    <div class="row py-1">
      <div class="col">
        <div class="banner">{{ site.description }}</div>
        <div class="text-muted text-right pt-1">&copy; {{ site.time | date: '%Y' }} {{ site.copyright }}</div>
        {% comment %}
        {%- include social.html -%}
        {% endcomment %}
      </div>
    </div>
  </div>
</footer>
