<img src="{{ link_image }}" class="img-fluid site-article-embed-image" />
<div class="site-article-embed-title py-2">
  <h4 class="m-0"><a class="post-link" target="_blank" href="{{ link_url }}">{{ link_title }}</a></h4>
  <a class="post-link" target="_blank" href="{{ link_url }}">{{ link_url }}</a>
</div>
<div class="site-article-embed-synopsis">
  <p>{{ link_description }}</p>
</div>
