<div id="menu-mobile" class="menu-mobile">
  <ul>
  {% assign sections_filtered = site.data.navigation | where: "lang", page.lang %}
  {% for section in sections_filtered %}
    {% if section.show != false %}
    <li class="{% if page.url == section.link %}active{% endif %}"><a href="{{ section.link | relative_url }}" title="{{ section.name }}">{{ section.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
</div>
