.back-to-top {
  display: inline-block;
  background-color: #ffffff;
  width:26px;
  height:26px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  z-index: 1000;
  background-image: url(../images/back-to-top.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media print {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
